p {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
}

h1 {
  font-family: 'Space Mono', monospace;
  padding-top: 40px;
  text-align: center;
}

body {
  background-color: rgb(180, 255, 244);
  padding-left: 15px;
  text-align: center;
}

/* Menú */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
  border-radius: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

li a:hover {
  display: block;
  transition: 1s;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 10px;
}

/* Classes and ID */
.textInici {
  text-align: center;
  width: 60%;
  float: right;
  padding-right: 5px;
}

.boton_personalizado {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(5, 50, 82);
  background-color: rgb(178, 226, 230);
  opacity: 100%;
  border-radius: 15px;
  border: 2px solid #0016b0;
}

.boton_personalizado:hover {
  color: rgb(214, 39, 39);
  background-color: #ffffff;
  background-image: none;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  background-color: #B04500;
}

.active:hover {
  background-color: #732D00;
}

.cloudImage {
  width: 35%;
  float: left;
  text-align: center;
  transition: 3s;
  opacity: 100%;
}

.cloudImage:hover {
  transition: 3s;
  opacity: 50%;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  color: white;
  width: 180px;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s;
  box-shadow: 5px 5px 10px grey;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(55, 55, 55) transparent transparent transparent;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:not(hover) .tooltiptext {
  transition: 1s;
}

#pinIntroduce {
  display: none;
}

#cloud {
  display: none;
  background-color: rgb(95, 174, 176);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 10px grey;
}