p {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
}

h1 {
  font-family: 'Space Mono', monospace;
  padding-top: 40px;
}

body {
  background-color: rgb(255, 253, 233);
  padding-left: 10px;
  text-align: center;
}

/* Menú */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

li {
  float: left;
  border-radius: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

li a:hover {
  display: block;
  transition: 1s;
}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 10px;
}

li a:not(hover) {
  transition: 1s;
}

#start {
  display: none;
}

.open {
  border-style: dotted;
  border-radius: 5px;
  background-color: rgb(128, 107, 97);
  width: 30%;
}

.boton_personalizado {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(5, 50, 82);
  background-color: rgb(178, 226, 230);
  opacity: 100%;
  border-radius: 15px;
  border: 2px solid #0016b0;
}

.boton_personalizado:hover {
  color: rgb(214, 39, 39);
  background-color: #ffffff;
  background-image: none;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  background-color: #B04500;
}

.active:hover {
  background-color: #732D00;
}